<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GamifiedModelling -->
      <package
            uri="http://gamefulgrowth.blogspot.co.uk/gamified-modelling/"
            class="gamifiedmodelling.GamifiedmodellingPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ModelObject -->
      <package
            uri="http://gamefulgrowth.blogspot.co.uk/gamified-modelling/"
            class="gamifiedmodelling.modelobject.Gamifiedmodelling.modelobjectPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ObjectModel -->
      <package
            uri="http://gamefulgrowth.blogspot.co.uk/gamified-modelling/"
            class="gamifiedmodellingobjectmodel.GamifiedmodellingobjectmodelPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ObjectModel -->
      <package
            uri="GamifiedModelling"
            class="ObjectModel.ObjectModellingPackage"
            genModel="www/core/model.old/ObjectModel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated EditorModel -->
      <package
            uri="editormodel"
            class="editormodel.EditormodelPackage"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated objectmodel -->
      <package
            uri="objectmodel"
            class="objectmodel.ObjectmodelPackage"
            genModel="www/common/template/object/metamodel/objectmodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated collaborationmodel -->
      <package
            uri="collaborationmodel"
            class="collaborationmodel.CollaborationmodelPackage"
            genModel="www/common/template/collaboration/metamodel/collaborationmodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated objectmodel -->
      <package
            uri="graphmodel"
            class="graphmodel.GraphmodelPackage"
            genModel="www/common/template/object/metamodel/objectmodel.genmodel"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated graph -->
      <package
            uri="graphmodelling"
            class="graphmodelling.GraphmodellingPackage"
            genModel="www/common/model/graph.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.epsilon.evl.emf.validation">
      <constraintsBinding
            compose="true"
            constraints="www/extension/metamodel/editormodel.evl"
            namespaceURI="z-gamified-modelling-server.constraintsBinding1">
      </constraintsBinding>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
   </extension>

</plugin>
