<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GamifiedModelling -->
      <package
            uri="http://gamefulgrowth.blogspot.co.uk/gamified-modelling/"
            class="gamifiedmodelling.GamifiedmodellingPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ModelObject -->
      <package
            uri="http://gamefulgrowth.blogspot.co.uk/gamified-modelling/"
            class="gamifiedmodelling.modelobject.Gamifiedmodelling.modelobjectPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ObjectModel -->
      <package
            uri="http://gamefulgrowth.blogspot.co.uk/gamified-modelling/"
            class="gamifiedmodellingobjectmodel.GamifiedmodellingobjectmodelPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ObjectModelling -->
      <package
            uri="GamifiedModelling"
            class="ObjectModelling.ObjectModellingPackage"
            genModel="www/core/model.old/ObjectModelling.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated objectmodelling -->
      <package
            uri="objectmodelling"
            class="objectmodelling.ObjectmodellingPackage"
            genModel="www/common/template/object/metamodel/objectmodelling.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated collaborationmodelling -->
      <package
            uri="collaborationmodelling"
            class="collaborationmodelling.CollaborationmodellingPackage"
            genModel="www/common/template/collaboration/metamodel/collaborationmodelling.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated objectmodelling -->
      <package
            uri="graphmodelling"
            class="graphmodelling.GraphmodellingPackage"
            genModel="www/common/template/object/metamodel/objectmodelling.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated EditorModel -->
      <package
            uri="editormodel"
            class="editormodel.EditormodelPackage"/>
   </extension>
   <extension
         point="org.eclipse.epsilon.evl.emf.validation">
      <constraintsBinding
            compose="true"
            constraints="www/extension/game/model/EditorModel.evl"
            namespaceURI="EditorModel">
      </constraintsBinding>
   </extension>

</plugin>
