<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GamifiedModelling -->
      <package
            uri="http://gamefulgrowth.blogspot.co.uk/gamified-modelling/"
            class="gamifiedmodelling.GamifiedmodellingPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ModelObject -->
      <package
            uri="http://gamefulgrowth.blogspot.co.uk/gamified-modelling/"
            class="gamifiedmodelling.modelobject.Gamifiedmodelling.modelobjectPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ObjectModel -->
      <package
            uri="http://gamefulgrowth.org/objectmodel/"
            class="objectmodel.ObjectmodelPackage"
            genModel="www/WEB-INF/epsilon/models/ObjectModel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated EditorModel -->
      <package
            uri="http://gamefulgrowth.org/editormodel/"
            class="editormodel.EditormodelPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MainEditor -->
      <package
            uri="org.york.gamified.modelling.objectmodel"
            class="maineditor.MaineditorPackage"/>
   </extension>

</plugin>
